<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My ToDo App - Make a list of your all pending items at one place</title>
    <link rel="icon" type="image/x-icon" href="homework.png">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="/">My ToDo</a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <div class="d-md">
                <input type="checkbox" class="toggle-dark-mode" id="toggle-dark-mode">
                <label for="toggle-dark-mode"><span class="d-mode">Enable Dark mode</span></label>
            </div>
        </ul>
    </nav>
    <div class="abt">
        <h1>Welcome to my ToDo Website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, enim non? Placeat labore tempore
            incidunt recusandae, ratione voluptates laboriosam voluptas culpa in blanditiis sed vel sit beatae esse, a
            explicabo.</p>
        <div class="resbt">
            <a href="Shivesh Rai Resume.pdf" download="Resume.pdf">
                <button class="resbt1">Download My Resume</button>
            </a>
        </div>
    </div>
    <script src="script2.js"></script>
</body>

</html>